<script>
  var socket;
</script>

<nav
  class="navbar navbar-expand-lg navbar-light bg-light sticky-top"
  style="text-align: center"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/petco/inicio"
            >Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publicacion/crear">Publicar</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa-solid fa-bars fa-lg"></i
          ></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/petco/inicio/PublicacionesGuardadas"
              >Publicaciones Guardadas</a
            >
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <%if(Tipo==1){%>
            <a class="dropdown-item" href="/petco/dashboard">Dashboard</a>

            <!-- Cosas de organizacion -->
            <%}%> <%if(Tipo==2){%>
            <!-- Cosas de comun -->
            <a class="dropdown-item" href="#">Ver procesos</a>

            <%}%>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="/petco/inicio/cerrarsession/"
              id="logout"
              >Cerrar sesion
              <i class="fa-solid fa-door-open fa-lg" style="color: #ea2340"></i
            ></a>
          </div>
        </li>
      </ul>

      <a class="mt-2">
        <a
          style="margin-right: 1%"
          data-bs-toggle="offcanvas"
          href="#notificacionesOffCanvas"
          role="button"
          aria-controls="notificacionesOffCanvas"
        >
          <i class="fa-regular fa-bell fa-lg"></i>
        </a>
      </a>
    </div>
  </div>
</nav>
<a
  href="#"
  class="list-group-item list-group-item-action list-group-item-light m-0 notificacionTemplate d-none"
  style="text-decoration: none"
>
  <p style="color: black" class="mb-2 ms-0 text-break descripcionNotificacion">
    DescripcionDescripcionDescripcionDescripcionDescripcionDescripcionDescripcionDescripcionDescripcionDescripcionDescripcionDescripcion
  </p>
  <p style="color: #9a9a9a; font-size: 0.9em" class="mb-0 fechaNotificacion">
    Fechaaaaaaaaaaaaaaaaaaaaaaaaaa
  </p>
</a>
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="notificacionesOffCanvas"
  aria-labelledby="notificacionesOffCanvasLabel"
  data-bs-scroll="true"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notificaciones</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body px-0">
    <div class="list-group list-group-flush" id="notificacionesContainer"></div>
  </div>
</div>

<script type="module" src="/javascripts/getNotificaciones.js"></script>
