<div class="Paso">
  <div class="container mt-5" style="text-align: center">
    <div class="card border-primary mb-3" style="max-width: 20rem">
      <div class="card-body">
        <form>
          <textarea
            type="text"
            placeholder="Titulo"
            class="form-control Titulo"
          ></textarea>
          <textarea
            placeholder="Descripcion"
            class="form-control Descripcion"
          ></textarea>
          <input
            type="number"
            placeholder="Dias Estimados"
            class="form-control DiasEstimados"
          />
          <input type="file" class="Archivo" />
          <div class="form-check form-switch">
            <input class="form-check-input AceptaArchivo" type="checkbox" />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Activar la subida de archivos</label
            >
          </div>
        </form>
        <h1>TEXTO</h1>
      </div>
    </div>
  </div>
</div>
